
*{
    background-color: #98DCDB
}


.Origamis{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

.Origamis img{
    border:solid;
    flood-color: #9A4DF3;

    background-blend-mode: multiply;
    padding-top: 0;
   text-align: center; 
   display: flex;  
   justify-content: center; 
  margin-left: 80px;
  margin-top: 20px;
}

.OCamaleon,.OPaloma,.OOso,.OOsoPanda,.ORana,.OConejo{
    margin-top: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    width:470px;
    height:415px;
    justify-content: space-between;
}

h3,h1,h4,a{
    text-align: center;
    background-image: url(back.jpg);
}

.inicio{
    background-image: url(back.jpg);
}

.final{
    background-image: url(back.jpg);
}

.Origamis h3{
    margin-left: 50px;
    margin-right: 50px;
}
